* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 15px;
}

window#waybar {
  margin: 8px 10px;
  background: rgba(20, 20, 25, 0.55);
  border-radius: 12px;
  padding: 6px 10px;
  color: #e6e6e6;
}

#clock,
#cpu,
#memory,
#temperature,
#battery,
#network,
#custom-music {
  padding: 0 14px;
  color: #dcdcdc;
}

#clock:hover,
#cpu:hover,
#memory:hover {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 10px;
}

#workspaces {
  padding: 0px 5px;
}

#workspaces button {
  all:unset;
  padding: 0px 10px;
  color: rgba(255, 255, 255, 0.3);
  transition: all .2s ease;
}

#workspaces button.active {
  color: rgba(134, 102, 187, .4);  
  border: none;
  text-shadow: 0px 0px 2px rgba(0,0,0, .5);
}

#workspaces button:hover {
  color: rgba(134, 102, 187, .25);
  background: rgba(134, 102, 187, .25);
  border: none;
  text-shadow: 0px 0px 2px rgba(0,0,0, .5);
  transition: all 0.5s ease;
}

#workspaces button.empty {
  color: rgba(255, 255, 255, .3);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0,0,0, .2)
}

#workspaces button.empty.active {
  color: rgba(1, 102, 187, .3);
  border: none;
  text-shadow: 0px 0px 2px rgba(0,0,0, .5);
}

#workspaces button.empty:hover {
  color: rgba(1, 102, 187, .25);
  background: rgba(1, 102, 187, .25);
  border: none;
  text-shadow: 0px 0px 2px rgba(0,0,0, .5);
  transition: all 0.5s ease;
}
#custom-music {
  color: #bfc9ff;
}

#custom-arch {
  color: #9ccfd8;
  padding-right: 12px;
}
